* {
    padding: 0;
    margin: 0;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #010101;
}

.textarea {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#text, .text {
    font-size: 75px;
    color: #FFFFFF;
    cursor: default;
}

.text {
    text-align: center;
}

#userphrase {
    margin-top: 80px;
    width: 80%;
    height: 50px;
    padding-left: 10px;
    font-size: 40px;
    border-radius: 40px;
    background-color: #A9A9A9;
}

.buttonarea {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    border: 2px solid;
    border-radius: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.popup {
    width: 50%;
    height: 500px;
    background-color: #010101;
    z-index: 1;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 20px;
}